<!-- CTA Button -->
<div style="margin: 32px 0">
  <a
    href="#"
    style="
      background-color: #3182ce;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      width: 200px;
    "
    >Call To Action &rarr;</a
  >
</div>

<!-- Divider -->
<hr
  style="
    border: none;
    border-top: 1px solid #eaeaea;
    margin: 32px 0;
    width: 100%;
  "
/>

<!-- Unsubscribe text -->
<p style="color: #666; font-size: 12px; line-height: 24px">
  If you don't want to receive notifications from our portal, please unsubscribe
  by logging into
  <a style="color: #3182ce" href="/user/show/${userid}">your profile</a>
</p>

<!-- Title -->
<h1
  style="
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    margin-bottom: 32px;
  "
>
  Heading 1
</h1>